.text {
  font-family: League Gothic;
  font-weight: bold;
  font-size: 18px;
  width: 300px;
  margin-bottom: 0;
}

.stats {
  font-family: League Gothic;
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-top: 0;
}

.chname {
  font-family:League Gothic;
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-top: 0;
}